google-cloud-aiplatform>=1.75.0
google-genai>=0.3.0
google-cloud-logging
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-gcp-trace
google-adk
langchain-community==0.3.20
wikipedia==1.4.0
python-dotenv
yfinance
